{% extends 'admin_base.html.twig' %}

{% block title %}Modifier le Périodique{% endblock %}

{% block admin_content %}
  <div class="container-form">
    <h2>Modifier le Périodique</h2>
    {% include "admin/document/periodical/_form.html.twig" %}
  </div>
{% endblock %}