{% extends 'admin_base.html.twig' %}

{% block title_admin %}Modifier un Audio{% endblock %}

{% block admin_content %}
  <div class="container-form">
    <h2>Modifier l'Audio</h2>
    {% include "admin/document/audio/_form.html.twig" %}
  </div>
{% endblock %}