{% extends 'admin_base.html.twig' %}

{% block title %}Nouvel Audio{% endblock %}

{% block admin_content %}
  <div class="container-form">
    <h2>Nouvel Audio</h2>
    {% include "admin/document/audio/_form.html.twig" %}
  </div>
{% endblock %}
