{% extends 'admin_base.html.twig' %}

{% block title_admin %}Modifier un Exemplaire{% endblock %}

{% block admin_content %}
  <div class="container-form">
    <h2>Modifier l'Exemplaire</h2>
    {% include "admin/copy/_form.html.twig" %}
  </div>
{% endblock %}