{% extends 'base.html.twig' %}

{% block title %}
  Administration - {% block title_admin %}{% endblock %}
{% endblock %}

{% block body %}
  <div class="bg-body-secondary border-bottom">
    <div class="container pt-3">
      <h1 class="mb-3">
        Administration
      </h1>
      {% include "components/_admin-navbar.html.twig" %}
    </div>
  </div>

  <div class="container my-5">
    {% block admin_content %}{% endblock %}
  </div>
{% endblock %}
