{% extends 'admin_base.html.twig' %}

{% block title %}Modifier la Vidéo{% endblock %}

{% block admin_content %}
  <div class="container-form">
    <h2>Modifier la Vidéo</h2>
    {% include "admin/video/_form.html.twig" %}
  </div>
{% endblock %}