{% extends 'base.html.twig' %}

{% block title %}
  Modifier une demande d'adhésion
{% endblock %}

{% block body %}
  <div class="container-form my-5">
    <h2> Modifier une demande d'adhésion</h2>
    {% include 'membership/_form.html.twig' %}
  </div>
{% endblock %}
